.form {
  display: flex;

  flex-direction: column;
  font-size: 0.9rem;
  gap: 1rem;
  border: solid 1px black;
  border-radius: 10px;
  padding: 5px;
  background-color: #f8f7f7;
  box-shadow: 0 10px 10px #c7c3c3;
}

.button {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0.2rem;
  background-color: #0b1218;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 0.7rem;
  font-weight: 600;
  text-decoration: none;
  min-width: 120px;
  border-radius: 8px;
  cursor: pointer;
}
