.button {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0.2rem;
  background-color: #0b1218;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 0.7rem;
  font-weight: 600;
  text-decoration: none;
  min-width: 120px;
  border-radius: 8px;
  cursor: pointer;
}

.tripform {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  background: rgb(193, 235, 236);
  border: 1px solid gray;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 10px 10px #c7c3c3;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}
