.all {
  width: 100%;
}

.hero {
  position: relative;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(30, 95, 236, 0.9),
    rgba(167, 110, 221, 0.9)
  );

  z-index: 10;
}

.textcard {
  position: relative;
  z-index: 20;
  text-align: center;
  color: white;
  padding: 0 1rem;
  max-width: 900px;
  margin: 0 auto;
}

.h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 1.5rem;
}

.button {
  padding: 0.6rem 1.2rem;
  background-color: #47a6ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  min-width: 120px;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  text-decoration: none;
  background-color: #3694c7;
}
