.card {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  background: white;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 10px 10px #c7c3c3;
}

.card:hover {
  box-shadow: 0 10px 10px #bdbfc0;
}

.avatar {
  width: 40px;
  height: 40px;
  border: solid 1px gray;
  border-radius: 100%;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  color: gray;
}
.image {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 10px 10px #c7c3c3;
}

.trip {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  gap: 1rem;
}

.p {
  border: solid 1px black;
  border-radius: 10px;
  padding: 5px;
  background-color: #f8f7f7;
  box-shadow: 0 10px 10px #c7c3c3;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.airports {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 10px;
}

.date {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 10px;
  border: solid 1px black;
  border-radius: 10px;
  padding: 5px;
  background-color: #f8f7f7;
  box-shadow: 0 10px 10px #c7c3c3;
}
