.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.image {
  width: 100px;
  height: 100px;
  border: solid 1px gray;
  border-radius: 100%;
  margin-bottom: 10px;
}

.profile {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  gap: 1rem;
  border: solid 1px black;
  border-radius: 10px;
  padding: 5px;
  background-color: #f8f7f7;
  box-shadow: 0 10px 10px #c7c3c3;
}

.topline {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 2rem;
}

.h2 {
  margin-top: 1rem;
  font-weight: 900;
}
